affine==3.0.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
antlr4-python3-runtime==4.9.3
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
contourpy==1.3.3
cycler==0.12.1
einops==0.8.2
filelock==3.32.5
fonttools==4.64.0
frozenlist==1.8.0
fsspec==2026.7.0
idna==3.19
ImageIO==2.37.4
Jinja2==3.1.6
kiwisolver==1.5.1
lazy-loader==0.5
lightning-utilities==0.15.3
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
multidict==6.7.1
networkx==3.6.1
numpy==2.5.2
omegaconf==2.3.1
opensr-model==1.1.1
opensr-utils==2.0.0
packaging==26.3
pandas==3.0.5
pillow==12.3.0
propcache==0.5.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.5
PyYAML==6.0.3
rasterio==1.5.1
requests==2.34.2
scikit-image==0.26.0
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
sympy==1.14.0
tifffile==2026.8.23
torch==2.14.0
torchmetrics==1.9.0
torchvision==0.29.0
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
xarray==2026.7.0
yarl==1.24.5
